asdf>=2.5.2
astrocut>=0.5
astropy>=4.1
beautifulsoup4>=4.9.3
bleach>=4.0.0
certifi>=2021.5.30
entrypoints>=0.3
gitdb>=4.0.7
GitPython>=3.1.1
glue-astronomy>=0.2
glue-vispy-viewers>=1.0.3
gwcs>=0.14.0
iniconfig>=1.1.1
ipydatawidgets>=4.2.0
ipygoldenlayout>=0.4.0
ipykernel>=5.5.5
ipympl>=0.7.0
ipysplitpanes>=0.2.0
ipython>=7.26.0
ipython-genutils>=0.2.0
ipyvolume>=0.5.2
ipyvue>=1.5.0
ipyvuetify>=1.8.1
ipywebrtc>=0.6.0
ipywidgets>=7.6.3
jdaviz @ git+https://github.com/spacetelescope/jdaviz.git@625acca8562249c2f4d9041c566c1820a4d480b2
jedi>=0.18.0
jupyter-client>=6.1.3
jupyter-core>=4.7.1
jupyter-server>=1.10.2
jupyterlab-pygments>=0.1.2
jupyterlab-widgets>=1.0.0
locket>=0.2.1
lxml>=4.6.2
MarkupSafe>=2.0.1
matplotlib>=3.1.1
matplotlib-inline>=0.1.2
mistune>=0.8.4
mpl-scatter-density>=0.7
nbclient>=0.5.3
nbconvert>=5.6.1
nbformat>=5.1.3
nbinteract>=0.2.6
nbmake>=0.5
nbval>=0.9.6
nest-asyncio>=1.5.1
networkx>=2.6.2
notebook>=6.4.3
numpy>=1.21.2
packaging>=21.0
pandas>=1.1.5
pandoc>=1.1.0
pandocfilters>=1.4.3
parso>=0.8.2
partd>=1.2.0
pathlib>=1.0.1
pexpect>=4.8.0
py>=1.10.0
pycparser>=2.20
pydantic>=1.8.2
pyerfa>=2.0.0
Pygments>=2.9.0
PyOpenGL>=3.1.5
pyparsing>=2.4.7
pyrsistent>=0.18.0
pytest>=6.2.4
pytest-cov>=2.5.1
python-dateutil>=2.8.2
pythreejs>=2.3.0
pytz>=2021.1
PyWavelets>=1.1.1
PyYAML>=5.3.1
pyzmq>=22.2.1
qtconsole>=5.1.1
QtPy>=1.10.0
radio-beam>=0.3.3
readme-renderer>=29.0
regions>=0.5
requests>=2.23.0
requests-toolbelt>=0.9.1
requests-unixsocket>=0.2.0
rfc3986>=1.5.0
scikit-image>=0.16.2
scipy>=1.7.1
semantic-version>=2.8.5
Send2Trash>=1.8.0
six>=1.16.0
smmap>=4.0.0
sniffio>=1.2.0
soupsieve>=2.2.1
spectral-cube>=0.5.0
specutils @ git+https://github.com/astropy/specutils.git@625e05499386e4c48467a4a141d6763e9147fcbc
terminado>=0.11.0
testpath>=0.5.0
tifffile>=2021.8.8
toml>=0.10.1
toolz>=0.11.1
tornado>=6.1
tqdm>=4.62.0
traitlets>=4.3.3
traittypes>=0.2.1
twine>=3.4.2
typing-extensions>=3.10.0.0
urllib3>=1.25.11
vispy>=0.7.3
voila>=0.2.10
wcwidth>=0.2.5
webencodings>=0.5.1
websocket-client>=1.2.1
widgetsnbextension>=3.5.1
xlrd>=2.0.1
zipp>=3.5.0
