mistune>=0.8.1<2
jinja2>=2.4
pygments>=2.4.1
jupyterlab_pygments
traitlets>=5.0
jupyter_core
nbformat>=4.4
entrypoints>=0.2.2
bleach
testpath
defusedxml
pytest
nbclient>=0.5.0<0.6.0
nbconvert==5.6.1 
jupyter-client==6.1.2
